<%- include("templates/header") %>
	Team Name: Proper Subset (BBY05)
	Team Members:
	<ul>
		<li> Catherine Queenan </li>
		<li> Eugenie Kim </li>
		<li> Evin Gonzales </li>
		<li> Kevin Nguyen </li>
		<li> Filip Budd </li>
	</ul>
<%- include("templates/footerCopyright") %>