<%- include("templates/header") %>
<div class="container">
	<button><a href="/addEvent">Add event</a></button>
</div>
<div class="container" id='calendar'></div>
<script src="/scripts/calendar.js"></script>
<%- include("templates/footerCopyright") %>