<%- include("templates/header") %>
	<link href="/css/calendar.css" rel="stylesheet">

		<div class="container border bg-light my-3 py-3 rounded" id='calendar'></div>
		<div>
			<label for="clientFilter">Filter by Client:</label>
			<select id="clientFilter" name="clientFilter" class="form-select">
				<option selected></option>
			</select>
		</div>


	<!-- Modal -->
	<div id="calendarModal" class="modal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="calModViewTitle">Modal title</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>

				<form method="post">
					<div class="modal-body" id="calModBod">
						<!-- Modal body goes here -->
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- FullCalendar -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
	<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="/scripts/calendarBusiness.js"></script>
	<%- include("templates/footerCopyright") %>