<%- include("templates/header") %>

<link href="/css/chat.css" rel="stylesheet">
<section id="content">
	<div id="chatRoom">
		<main id="messages"></main>
		<form id="messageForm">
			<input id="messageInput" placeholder="...">
			<button type="submit">Send</button>
		</form>
	</div>
</section>

<script src="/scripts/chatClient.js"></script>

<%- include("templates/footerCopyright") %>