<section id="content">
	<div id="chatRoom" class="d-none">
		<main id="messages"></main>
		<form id="messageForm">
			<input id="messageInput" placeholder="...">
			<button type="submit">Send</button>
		</form>
	</div>
</section>

<script src="/scripts/chat.js"></script>