<!--Page to load a business' clients to select one to chat with.-->
<%- include("templates/header") %>
	<div class="profile-container my-4 mx-4">
		<h1 class="text-center my-3 yeseva-one">Clients</h1>
		<ul style="list-style-type:none;" class="d-flex justify-content-center align-items-center">
			<% for (let i = 0; i < clients.length; i++)  { %>
				<%- include('templates/clients', {clients: clients[i]}) %>
			<% } %>
		</ul>
	</div>
<%- include("templates/footerCopyright") %>