<%- include("templates/header") %>
<div class="profile-container my-4 mx-4">
    <h1 class="text-center my-4 yeseva-one">Reset Token Sent</h1>
    <p class="karla-heavy fw-bold text-center">Email successfully sent. Please check your inbox to find your reset token. You may now close this page.</p>
</div>
<%- include("templates/footerCopyright") %>