<%- include("templates/header") %>

<div class="profile-container my-4 mx-4">
    <h1 class="text-center my-4 yeseva-one">Clients</h1>
    <div class="heading-gen py-3">
    <ul>
        <% let i=0; %>
        <%for (i = 0; i < clientArray.length; i++) { %>
            <%- include('clientCards', {client: clientArray[i]} ) %>
        <% } %>
    </ul>
    
</div>

<%- include("templates/footerCopyright") %>
