<%- include("templates/header") %>

<!-- Search Bar -->
<!-- Hi Catherine. If you want to make a better searchbar feel free. 
    Just make sure the id and text attr. are the same -->
<input type="text" id="searchInput" placeholder="Search...">

<!-- Div containing list of cards -->
<div>

    <!-- This id is necessary. Cards are placed at this id.  -->
    <ul id="clientListing"></ul>
</div>

<%- include("templates/footerCopyright") %>

<!-- This script includes the client searching DOM logic -->
<script type="text/javascript" src="/scripts/clientSearch.js"></script>

<!-- This script is responsible for handling the client array conversion to the JS -->
<script>
    let clientListSize = "<%= clientArray.length%>";
    const clients = '<%- JSON.stringify(clientArray) %>';
    clientsParsed = JSON.parse(clients);
</script>

<!-- This is the template for each person's card. -->
<!-- As of time of writing, user profiles from a business view don't exist yet, so it redirects to '/'. -->
<!-- putting the template in another file is added complexity. Leave it here and edit as you wish. -->
<template id="clientCardTemplate">
    <li>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">[firstNamePlaceholder] [lastNamePlaceholder]</h5>
                <p class="card-text">[emailPlaceholder]</p>

                <!-- I needed a custom button this time around -->
                <a href="#" id="profileLink" class="btn profileLink">View Profile</a>
            </div>
        </div>
    </li>
</template>