<%- include("templates/header") %>
<div>

    <% if (errorMessage) { %>
        <div class="error-message"><%= errorMessage %></div>
    <% } %>
    <form method="post">
        <label>Email</label>
        <input type="text" name="email">
        <%- include('templates/button', {action:'/emailConfirmation',xClasses:'',xAttributes:'',content:'Confirm'}) %>
    </form>
</div>
<%- include("templates/footerCopyright") %>