<%- include("templates/header") %>
	<div>
		<% if (!loggedIn) { %>
		<form method="get">
			<button formaction="/login">Log in</button>
			<button formaction="/signup">Sign up</button>
		</form>
		<% } else { %>
			hi <%= name %>
			<form method="get">
			<button formaction="/logout">Get me out of here</button>
		</form>
		<% } %>
	</div>
<%- include("templates/footerLogin") %>