<%- include("templates/header") %>
	<div>
        <form action="/submitLogin" method="post">
            <br>email
            <input type="text" name="email"><br><br>

            <br>password
            <input type="text" name="password"><br>
            <button>Login</button>
        </form>
    </div>
<%- include("templates/footer") %>
