<!--Page to confirm password reset-->
<%- include("templates/header") %>
<div class="profile-container my-4 mx-4">
    <h1 class="text-center my-3 yeseva-one">Password Changed Successfully</h1>
    <p class="text-center karla-heavy mb-3">You may now use your new password when logging into your Pawfolio account.</p>
    <form method="get" class="d-flex justify-content-center">
        <%- include('templates/button', {action:'/',xClasses:'',xAttributes:'',content:'Back to Home'}) %>
    </form>
</div>
<%- include("templates/footerCopyright") %>