<%- include("templates/header") %>
your password has been successfully changed
<form method="get"><%- include('templates/button', {action:'/',xClasses:'',xAttributes:'',content:'Back to home'}) %></form>
<%- include("templates/footerCopyright") %>