<%- include("templates/header") %>

<div class="container">

</div>

<!-- FullCalendar -->
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
<script src="/scripts/calendar.js"></script>
<%- include("templates/footerCopyright") %>