<%- include("templates/header") %>
<div>
    <form action="/resettingPassword/<%= token %>" method="post">
        <label>New Password</label>
        <input type="password" name="password">
        <button>Confirm</button>
    </form>
</div>
<%- include("templates/footerCopyright") %>