<%- include("templates/header") %>
<div class="profile-container my-4 mx-4">
        <h1 class="text-center yeseva-one">Reset Password</h1>
        <form method="post">
            <label class="text-center karla-heavy">Please Enter your New Password</label>
            <input type="password" name="password" class="my-2" placeholder="Password">
            <%- include('templates/button', {action:'/resettingPassword/' + token ,xClasses:'',xAttributes:'',content:'Confirm'}) %>
        </form>
    </div>
</div>
<%- include("templates/footerCopyright") %>
