<%- include("templates/header") %>
<div>
    <form method="post">
        <label>New Password</label>
        <input type="password" name="password">
        <%- include('templates/button', {action:'/resettingPassword/' + token ,xClasses:'',xAttributes:'',content:'Confirm'}) %>
    </form>
</div>
<%- include("templates/footerCopyright") %>
