<%- include("templates/header") %>
	<form>
		<button formaction="/signup/business" class="btn btn-primary" type="submit">Business Account</button>
		<button formaction="/signup/client" class="btn btn-primary" type="submit">Client Account</button>
	</form>
<%- include("templates/footerCopyright") %>