<%- include("templates/header") %>
<div class="profile-container my-4 mx-4">
    <h1 class="text-center my-4 yeseva-one">Trainers</h1>
    <div class="heading-gen py-3">
        <input type="text" name="search" id="trainerSearch" placeholder="Search">
    </div>
    <% for(let i = 0; i < businesses.length; i++){ %>
        <%- include('templates/trainerQuickView', {trainer: trainers[i], business: businesses[i]}) %>
    <% } %>
</div>
<script>
    //Select search bar and the trainers keyword strings
    let trainerServices = document.querySelectorAll('.searchString');
    let searchBar = document.getElementById('trainerSearch');

    //Event listener for typing in the search bar
    searchBar.addEventListener('input', function() {
        //Make the search not case sensitive
        let search = this.value.toLowerCase();

        //Check if the current value in the search bar matches with the keyword strings of each trainer
        trainerServices.forEach((service) => {
            if(!(service.value.includes(search))){
                service.parentElement.parentElement.style = 'display:none';
            } else {
                service.parentElement.parentElement.style = 'display:block';
            }
        });
    });
    
</script>
<%- include("templates/footerCopyright") %>