.modal-content {
	background-color: #F0F1FA;
	color: #201335 !important;
	text-align: center;
}

.modal-title {
	background-color: #F0F1FA;
}


.modal-heading {
	display: inline-block;
	border-bottom: 2px solid #201335;
}

.form-control-plaintext {
	color: rgba(32, 19, 53, 0.8);
	text-align: center;
}

/* Active button */
.fc .fc-button-primary:not(:disabled).fc-button-active, 
.fc .fc-button-primary:not(:disabled):active {
	background-color: #201335;
	color: #FEF6C3;
	border: none;
	box-shadow: 0 0 0 0.01rem #201335bc;
}

/* Active button */
.fc .fc-button-primary:not(:disabled).fc-button-active:focus, 
.fc .fc-button-primary:not(:disabled):active:focus {
	background-color: #201335;
	color: #FEF6C3;
	border: none;
	box-shadow: 0 0 0 0.01rem #201335bc;
}

/* Non active button */
.fc .fc-button-primary {
	background-color: rgba(94, 83, 162, 0.8);
	color: #201335;
	border: none;
}

/* Disabled button */
.fc .fc-button-primary:disabled {
	background-color: rgba(94, 83, 162, 0.5);
	color: #201335;
	border: none;
}

/* Button with focus */
.fc .fc-button-primary:active:focus,
.fc .fc-button-primary:active:focus-visible {
    box-shadow: 0 0 0 0.01rem #201335bc; /* Add box shadow */
    background-color: #201335; /* Set background color */
	color:#F0F1FA;
  }
  
  	.fc .fc-button-primary:focus,
	.fc .fc-button-primary:focus-visible {
    box-shadow: 0 0 0 0.01rem #201335bc; /* Add box shadow */
    background-color: #201335; /* Set background color */
	color:#F0F1FA;
  }

  .fc .fc-button-primary:hover {
	background-color:#201335;
	color:#FEF6C3;
  }

.fc-toolbar-chunk .fc-toolbar-title {
	color: #201335;
}

.fc table {
	color: #201335;
}

@media (min-width: 100px) {

	.fc-toolbar-chunk{
		font-size: 8px;
	}
	
	.fc-toolbar-chunk .fc-toolbar-title {
		font-size: 8px;
	}

	.fc table {
		font-size: 0.5em;
	}

}

@media (min-width: 380px) {

	.fc-toolbar-chunk{
		font-size: 10px;
	}
	
	.fc-toolbar-chunk .fc-toolbar-title {
		font-size: 10px;
	}

	.fc table {
		font-size: 0.7em;
	}
}
  
@media (min-width: 440px) {

	.fc-toolbar-chunk{
		font-size: 12px;
	}
	
	.fc-toolbar-chunk .fc-toolbar-title {
		font-size: 12px;
	}

	.fc table {
		font-size: 0.8em;
	}
}
  
@media (min-width: 770px) and (max-width: 8000px) {

}