/* .fc-header-toolbar {
	
} */

/* .fc-view-harness {
	height: 100%;
} */

@media (min-width: 100px) and (max-width: 380px) {

	.fc-toolbar-chunk{
		font-size: 8px;
	}
	
	.fc-toolbar-chunk .fc-toolbar-title {
		font-size: 8px;
	}

}
  
@media (min-width: 381px) and (max-width: 769px) {

	.fc-toolbar-chunk{
		font-size: 12px;
	}
	
	.fc-toolbar-chunk .fc-toolbar-title {
		font-size: 12px;
	}
}
  
@media (min-width: 770px) and (max-width: 8000px) {

}