/* Path: public/css/style.css */

/* General */
body {
    height: 100%;
    max-width: 100%;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    color:#201335;
    background-color: #F0F1FA;
}

.content {
    height: calc(100vh - 50px);
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Yeseva One', serif;
    font-weight: 400;
    color: #201335;
}

.background-image {
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(180deg, rgba(240,241,250,1) 0%, rgba(134,134,134,0) 73%);
}
/* End of General */

/* Bootstrap Modifications */
.icon-hover:hover {
    transform: scale(1.1); /* Increase size on hover */
    transition: transform 0.3s ease; /* Add smooth transition */
    cursor: pointer; /* Change cursor to pointer on hover */
}

@media (min-width: 100px) and (max-width: 360px) {
    .font-size-sm {
        font-size: 28px; /* Define font size for small screens */
        margin-top:25px;
    }
}
  
@media (min-width: 361px) and (max-width: 430px) {
    .font-size-md {
        font-size: 37.5px; /* Define font size for medium screens */
        margin-top:20px;
    }
}
  
@media (min-width: 431px) and (max-width: 8000px) {
    .font-size-lg {
        font-size: 52px; /* Define font size for large screens */
    }
}

.background-container-preview {
    background-size: cover;
    background-position: relative;
    background-repeat: no-repeat;
    padding: 20px; /* Optional: Add padding to adjust spacing */
    overflow: visible !important;
}

.upperShadow {
    box-shadow:-15px -15px 1.5px 1.5px #201335;
}

.lowerShadow {
    box-shadow: 15px 15px 1.5px 1.5px #201335;
}

/* Buttons */
    .btn-main {
        background-color: rgba(32, 19, 53, 0.8);
        color: #FEF6C3;
        border: none;
        border-radius: 5px;
        padding: 8px 25px;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        cursor: pointer;
    }

    .btn-secondary {
        background-color: rgba(94, 83, 162, 0.8);
        color: #201335;
        border: none;
        border-radius: 5px;
        padding: 8px 25px;
        font-size: 18px;
        font-weight: 800;
        letter-spacing: 1px;
        cursor: pointer;
    }

    .lg-button {
        width: 180px;
        height: 50px;
    }
/* End of Buttons */

/* Navbar */
/* Ensure the navbar sits above the content */
.navbar.fixed-top {
    z-index: 1030; /* Bootstrap default for fixed-top navbar */
}
  /* Add padding to the body to avoid content being overlapped by the navbar */
body {
    padding-top: 56px; /* Adjust this value based on the navbar height */
}
.navContainer {
    width: auto;
    min-height: 100vh;
    transition: margin-left 0.3s linear;
}

/* End of Navbar */

/* Login Forms */
body{
    margin:0;
  }

  *,:after,:before{box-sizing:border-box}
  .clearfix:after,.clearfix:before{content:'';display:table}
  .clearfix:after{clear:both;display:block}
  a{color:inherit;text-decoration:none}
  
  .login-wrap{
    width:100%;
    height:100%;
    margin:auto;
    max-width:525px;
    min-height:870px;
    position:relative;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  }

  .login-html{
    width:100%;
    height:100%;
    position:absolute;
    padding:90px 70px 50px 70px;
    background:rgba(240, 241, 250, 0.7);
  }

  .login-html .sign-in-htm,
  .login-html .sign-up-htm{
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    transform:rotateY(180deg);
    backface-visibility:hidden;
    transition:all .4s linear;
  }

  .login-html .sign-in,
  .login-html .sign-up,
  .login-form .group .check{
    display:none;
  }

  .login-html .tab,
  .login-form .group .label,
  .login-form .group .button{
    text-transform:uppercase;
    font-weight:bold;
  }

  .login-html .tab{
    font-size:22px;
    margin-right:15px;
    padding-bottom:5px;
    margin:0 15px 10px 0;
    display:inline-block;
    border-bottom:2px solid transparent;
  }
  .login-html .sign-in:checked + .tab,
  .login-html .sign-up:checked + .tab{
    color:#5E53A2;
    border-color:#201335;
  }

  .login-form{
    min-height:345px;
    position:relative;
    perspective:1000px;
    transform-style:preserve-3d;
  }
  
  .login-form .group{
    margin-bottom:15px;
  }

  .login-form .group .label,
  .login-form .group .input,
  .login-form .group .button{
    width:100%;
    color:#201335;
    display:block;
  }

  .login-form .group .input {
    border:none;
    color: #201335;
    border: none;
    border-radius: 5px;
    padding: 8px 25px;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    background: rgba(32, 19, 53, 0.15);
  }
  .login-form .group .button{
    border:none;
    color: #FEF6C3;
    border: none;
    border-radius: 5px;
    padding: 8px 25px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
  }

  .login-form .group .label{
    color:#201335;
  }

  .login-form .group .button{
    background: rgba(32, 19, 53, 0.8);
  }

  .login-form .group label .icon{
    width:15px;
    height:15px;
    border-radius:2px;
    position:relative;
    display:inline-block;
    background:rgba(32, 19, 53, 0.1);
  }

  .login-form .group label .icon:before,
  .login-form .group label .icon:after{
    content:'';
    width:10px;
    height:2px;
    background:#FEF6C3;
    position:absolute;
    transition:all .2s ease-in-out 0s;
  }

  .login-form .group label .icon:before{
    left:3px;
    width:5px;
    bottom:6px;
    transform:scale(0) rotate(0);
  }

  .login-form .group label .icon:after{
    top:6px;
    right:0;
    transform:scale(0) rotate(0);
  }

  .login-form .group .check:checked + label{
    font-weight:bold;
  }

  .login-form .group .check:checked + label .icon{
    background:#5E53A2;
  }

  
  .login-form .group .check:not(:checked) + label .icon{
    background:#F0F1FA;
  }

  .login-form .group .check:checked + label .icon:before{
    transform:scale(1) rotate(45deg);
  }

  .login-form .group .check:checked + label .icon:after{
    transform:scale(1) rotate(-45deg);
  }

  .login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
    transform:rotate(0);
  }

  .login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
    transform:rotate(0);
  }
  
  .hr{
    height:2px;
    margin:60px 0 50px 0;
    background:rgba(32, 19, 53, 0.5);
  }
  
  .foot-lnk{
    text-align:center;
  }

/* End of Login Forms */
/* End of Bootstrap Modifications */

/* Colors */
.whiteBackground {
    background-color: #F0F1FA;
}

.white {
    color: #F0F1FA
}

.lemonBackground {
    background-color: #FEF6C3;
}

.lemon {
    color: #FEF6C3;
}

.orangeBackground {
    background-color: #FFA05C;
}

.orange {
    color: #FFA05C;
}

.violetBackground {
    background-color: #5E53A2;
}

.violet {
    color: #5E53A2;
}

.purpleBackground {
    background-color: #201335;
}

.purple {
    color: #201335;
}
/* End of Colors */

/* Fonts */
.yeseva-one {
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
  }

.karla-light {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.karla-regular {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.karla-heavy {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
/* End of Fonts */
.nav-link {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /*Ensure that all of the navbar buttons are the same size.*/
    width: 75px;
    height: 75px;
}

/*Bootstrap Icons*/
.bi {
    margin-bottom: -8px; /*Make the text nice and snug with the icons.*/
    font-size: 40px;
}

#dropdownMenu {
    position: fixed;
    top: 100px; /* The height of the navbar (approx) */
    left: -100%; /* Start off-screen */
    width: 100%;
    height: calc(100% - 60px);
    background-color: #ffffff;
    z-index: 1; /* In the future, if we want to have more layers, we can increase this value. 1 works for now. */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: transform 0.3s ease; /* Smooth transition for the sleek sliding effect */
    transform: translateX(-100%); /* Start off-screen */
}

.menu-visible {
    transform: translateX(0); /* Slide into view */
}

/* The items in the list (so the text and the symbols) */
.dropdown-item {
    color: #000000;
    font-size: 24px;
    padding: 15px;
    width: 100%;
    text-align: center;
}
