/* Path: public/css/style.css */

/* General */
body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    color:#201335;
    background-color: #F0F1FA;
}

h1 {
    font-family: 'Yeseva One', serif;
    font-size: 48px;
    font-weight: 400;
    color: #201335;
}

.icon-hover:hover {
    transform: scale(1.1); /* Increase size on hover */
    transition: transform 0.3s ease; /* Add smooth transition */
    cursor: pointer; /* Change cursor to pointer on hover */
}
/* General */

/* Colors */
.whiteBackground {
    background-color: #F0F1FA;
}

.white {
    color: #F0F1FA
}

.lemonBackground {
    background-color: #FEF6C3;
}

.lemon {
    color: #FEF6C3;
}

.orangeBackground {
    background-color: #FFA05C;
}

.orange {
    color: #FFA05C;
}

.violetBackground {
    background-color: #5E53A2;
}

.violet {
    color: #5E53A2;
}

.purpleBackground {
    background-color: #201335;
}

.purple {
    color: #201335;
}
/* End of Colors */

/* Fonts */
.yeseva-one {
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
  }

.karla-light {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.karla-regular {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.karla-heavy {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
/* End of Fonts */
.nav-link {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /*Ensure that all of the navbar buttons are the same size.*/
    width: 75px;
    height: 75px;
}

/*Bootstrap Icons*/
.bi {
    margin-bottom: -8px; /*Make the text nice and snug with the icons.*/
    font-size: 40px;
}

/*Dropdown menu*/
#dropdownMenu {
    position: fixed;
    top: 100px; /*The height of the navbar (approx)*/
    left: 0;
    width: 100%;
    height: calc(100% - 60px);
    background-color: #ffffff;
    z-index: 1; /*In the future, if we want to have more layers, we can increase this value. 1 works for now.*/
    display: none; /*By default, we want the menu to be invisible.*/
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/*The items in the list (so the text and the symbols)*/
.dropdown-item {
    color: #000000;
    font-size: 24px;
    padding: 15px;
    width: 100%;
    text-align: center;
}
