/* Path: public/css/style.css */

/* General */
  body {
    height: 100%;
    max-width: 100%;
    min-height: 100vh;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    color: #201335;
    background-color: #F0F1FA;
    background: linear-gradient(180deg, rgba(240, 241, 250, 1) 0%, rgba(240, 241, 250, 0.60) 73%),
      url('/images/PawBack.png') center no-repeat;
    background-size: cover;
    overflow-x:hidden;
  }

  .content {
    height: calc(100vh - 50px);
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-family: 'Yeseva One', serif;
    font-weight: 400;
    color: #201335;
  }

  .background-image {
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(180deg, rgba(240, 241, 250, 1) 0%, rgba(134, 134, 134, 0) 73%);
  }
/* End of General */

/* Bootstrap Modifications */
  .underline-header {
    display: inline-block;
    border-bottom: 2px solid #201335;
  }

  .icon-hover:hover {
    transform: scale(1.1);
    /* Increase size on hover */
    transition: transform 0.3s ease;
    /* Add smooth transition */
    cursor: pointer;
    /* Change cursor to pointer on hover */
  }

  @media (min-width: 100px) and (max-width: 360px) {
    .font-size-sm {
      font-size: 28px;
      /* Define font size for small screens */
      margin-top: 25px;
    }
  }

  @media (min-width: 361px) and (max-width: 430px) {
    .font-size-md {
      font-size: 37.5px;
      /* Define font size for medium screens */
      margin-top: 20px;
    }
  }

  @media (min-width: 431px) and (max-width: 8000px) {
    .font-size-lg {
      font-size: 52px;
      /* Define font size for large screens */
    }
  }

  .background-container-preview {
    background-size: cover;
    background-position: relative;
    background-repeat: no-repeat;
    padding: 20px;
    /* Optional: Add padding to adjust spacing */
    overflow: visible !important;
  }

  .upperShadow {
    box-shadow: -15px -15px 1.5px 1.5px #201335;
  }

  .lowerShadow {
    box-shadow: 15px 15px 1.5px 1.5px #201335;
  }

  .smallShadow {
    box-shadow: 3px 4px 0px 0px #201335;
    box-shadow: -3px -4px 0px 0px #201335;
    box-shadow: 0 0 0px 3px #201335;
  }

  .icon {
    cursor:pointer;
  }

  /* Forms */
  .form-control {
    width: 100%; /* Make the select element full width */
    padding: 8px; /* Add padding */
    border: 1px solid #2013353b; /* Add border */
    border-radius: 5px; /* Add border radius */
    font-size: 16px; /* Set font size */
    background-color: #20133532; /* Set background color */
    cursor: pointer; /* Add cursor pointer */
    color:#201335;
    font-weight: 500;
  }

  .form-control:focus {
    outline: none; /* Remove default outline */
    border-color: #20133589; /* Set border color */
    box-shadow: 0 0 0 0.2rem #201335bc; /* Add box shadow */
    background-color: #F0F1FA; /* Set background color */
    font-weight: bold;
    color:#201335;
  }

  .form-control:disabled {
    width: 100%; /* Make the select element full width */
    padding: 8px; /* Add padding */
    border: none;
    font-size: 16px; /* Set font size */
    color:#201335;
    font-weight: 500;
    background-color: transparent;
    cursor: default;
  }

  .modal textarea {
      width: 100%; /* Make the select element full width */
      padding: 8px; /* Add padding */
      border: 1px solid #2013353b; /* Add border */
      border-radius: 5px; /* Add border radius */
      font-size: 16px; /* Set font size */
      color:#201335;
      font-weight: 500;
      background-color: #20133532; /* Set background color */
      cursor: pointer; /* Add cursor pointer */
      overflow-y:scroll;
  }

  .modal textarea:disabled {
    width: 100%; /* Make the select element full width */
    padding: 8px; /* Add padding */
    border: none;
    font-size: 16px; /* Set font size */
    color:#201335;
    font-weight: 500;
    background-color: transparent;
    cursor: default;
    resize:none;
    overflow-y:scroll;
  }

  .modal textarea:focus {
    outline: none; /* Remove default outline */
    border-color: #20133589; /* Set border color */
    box-shadow: 0 0 0 0.2rem #201335bc; /* Add box shadow */
    background-color: #F0F1FA; /* Set background color */
    font-weight:bold;
    color:#201335;
    overflow-y:scroll;
  }

  .modal input {
      width: 100%; /* Make the select element full width */
      padding: 8px; /* Add padding */
      border: 1px solid #2013353b; /* Add border */
      border-radius: 5px; /* Add border radius */
      font-size: 16px; /* Set font size */
      background-color: #20133532; /* Set background color */
      cursor: pointer; /* Add cursor pointer */
      color:#201335;
      font-weight: 500;
  }

  .modal input:disabled {
    width: 100%; /* Make the select element full width */
    padding: 8px; /* Add padding */
    border: none;
    font-size: 16px; /* Set font size */
    color:#201335;
    font-weight: 500;
    background-color: transparent;
    cursor: default;
  }

  .modal input:focus {
    outline: none; /* Remove default outline */
    border-color: #20133589; /* Set border color */
    box-shadow: 0 0 0 0.2rem #201335bc; /* Add box shadow */
    background-color: #F0F1FA; /* Set background color */
    font-weight: bold;
    color:#201335;
  }

  textarea {
    width: 100%; /* Make the select element full width */
    padding: 8px; /* Add padding */
    border: 1px solid #2013353b; /* Add border */
    border-radius: 5px; /* Add border radius */
    font-size: 16px; /* Set font size */
    color:#201335;
    font-weight: 500;
    background-color: #20133532; /* Set background color */
    cursor: pointer; /* Add cursor pointer */
    resize:none;
    overflow:hidden;
  }

  textarea:disabled {
    width: 100%; /* Make the select element full width */
    padding: 8px; /* Add padding */
    border: none;
    font-size: 16px; /* Set font size */
    color:#201335;
    font-weight: 500;
    background-color: transparent;
    cursor: default;
    resize:none;
  }

  textarea:focus {
    outline: none; /* Remove default outline */
    border-color: #20133589; /* Set border color */
    box-shadow: 0 0 0 0.2rem #201335bc; /* Add box shadow */
    background-color: #F0F1FA; /* Set background color */
    font-weight:bold;
    color:#201335;
    resize:none;
  }

  input {
      width: 100%; /* Make the select element full width */
      padding: 8px; /* Add padding */
      border: 1px solid #2013353b; /* Add border */
      border-radius: 5px; /* Add border radius */
      font-size: 16px; /* Set font size */
      background-color: #20133532; /* Set background color */
      cursor: pointer; /* Add cursor pointer */
      color:#201335;
      font-weight: 500;
  }

  input:disabled {
    width: 100%; /* Make the select element full width */
    padding: 8px; /* Add padding */
    border: none;
    font-size: 16px; /* Set font size */
    color:#201335;
    font-weight: 500;
    background-color: transparent;
    cursor: default;
  }

  input:focus {
    outline: none; /* Remove default outline */
    border-color: #20133589; /* Set border color */
    box-shadow: 0 0 0 0.2rem #201335bc; /* Add box shadow */
    background-color: #F0F1FA; /* Set background color */
    font-weight: bold;
    color:#201335;
  }

    label {
      display: block; /* Make the label a block element for proper alignment */
      font-weight: bold; /* Make the label bold */
      margin-bottom: 5px; /* Add some bottom margin for spacing */
    }
    
    .form-select {
      width: 100%; /* Make the select element full width */
      padding: 8px; /* Add padding */
      border: 1px solid #2013353b; /* Add border */
      border-radius: 5px; /* Add border radius */
      font-size: 16px; /* Set font size */
      background-color: #20133532; /* Set background color */
      cursor: pointer; /* Add cursor pointer */
    }

    .form-select:disabled {
      width: 100%; /* Make the select element full width */
      padding: 8px; /* Add padding */
      border: 1px solid #2013353b; /* Add border */
      border-radius: 5px; /* Add border radius */
      font-size: 16px; /* Set font size */
      background-color: #20133532; /* Set background color */
      cursor: default;
    }
    
    /* Override default browser styling */
    .form-select:focus {
      outline: none; /* Remove default outline */
      border-color: #20133589; /* Set border color */
      box-shadow: 0 0 0 0.2rem #201335bc; /* Add box shadow */
    }

    /* Style the dropdown options when select element is clicked */
    .form-select:focus option:checked {
      background-color: #201335; /* Change background color of checked option */
      color: #F0F1FA; /* Change text color of checked option */
    }

    /* Add box shadow to select element when dropdown is open */
    .form-select:focus-within {
      box-shadow: 0 0 0 0.2rem #2013359f; /* Add box shadow */
    }

    /* Change background color of dropdown when it's open */
    .form-select:focus option {
      background-color: #F0F1FA !important; /* Change background color of options */
    }

    /* Change text color of dropdown options when it's open */
    .form-select:focus option {
      color: #201335 !important; /* Change text color of options */
    }
  /* End of Forms */

  /* Custom navbar-toggler-icon */
  .custom-toggler .navbar-toggler-icon {
    width: 35px;
    height: 3px;
    position: relative;
    display: inline-block;
    background-color: transparent;
    border-radius: 5px;
  }

  .custom-toggler .navbar-toggler-icon::before,
  .custom-toggler .navbar-toggler-icon::after,
  .custom-toggler .navbar-toggler-icon span {
    content: '';
    width: 35px;
    height: 3px;
    position: absolute;
    left: 0;
    background-color: #201335;
    border: none;
    border-radius: 2px;
  }

  .custom-toggler .navbar-toggler-icon::before {
    top: -12px;
  }

  .custom-toggler .navbar-toggler-icon::after {
    top: 12px;
  }

  .custom-toggler .navbar-toggler-icon span {
    top: 0;
  }

  /* Remove outline and box-shadow on focus */
  .navbar-toggler:focus {
    outline: none;
    box-shadow: 0 0 0 0;
  }

  button:focus:not(:focus-visible) {
    outline: none;
  }

  .navbar-toggler {
    border: none;
  }

  /* Hover and active state */
  .navbar-toggler:hover .navbar-toggler-icon::before,
  .navbar-toggler:active .navbar-toggler-icon::before,
  .navbar-toggler:hover .navbar-toggler-icon::after,
  .navbar-toggler:active .navbar-toggler-icon::after,
  .navbar-toggler:hover .navbar-toggler-icon span,
  .navbar-toggler:active .navbar-toggler-icon span {
    height: 4px;
  }

  /* Custom width for offcanvas */
  .offcanvas-custom {
    width: 200px !important;
    height: 500px;
  }

  @media (min-width: 576px) {
    .offcanvas-custom {
      max-width: 200px !important;
      /* Ensure it doesn't exceed the specified width */
    }
  }

  /* Buttons */
    .btn-main {
      background-color: rgba(32, 19, 53, 1);
      color: #FEF6C3;
      border: none;
      border-radius: 5px;
      padding: 8px 25px;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 1px;
      cursor: pointer;
    }

    .btn-main:hover {
      background-color: #FFA05C;
      color: #201335;
      font-weight: 500;
    }

    .btn-main:active {
      background-color: #201335;
      color: #FEF6C3;
      font-weight: 500;
    }

    .btn-main:active:hover {
      background-color: #201335;
      color: #FEF6C3;
      font-weight: 500;
    }

    /* Copy of the above button but applied to the bootstrap button class */
    .btn-primary {
      background-color: rgba(32, 19, 53, 1);
      color: #FEF6C3;
      border: none;
      border-radius: 5px;
      padding: 8px 25px;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 1px;
      cursor: pointer;
    }

    /* element:hover This changes the properties of the button when hovering */
    .btn-primary:hover {
      background-color: #FFA05C;
      color: #201335;
      font-weight: 500;
    }

    .btn-primary:active {
      background-color: #201335;
      color: #FFA05C;
      font-weight: 500;
    }

    .btn-primary:active:hover {
      background-color: #201335;
      color: #FFA05C;
      font-weight: 500;
    }

    .btn-primary:disabled {
      background-color: rgba(32, 19, 53, 0.5)
    }

    .btn-secondary {
      background-color: rgba(94, 83, 162, 1);
      color: #F0F1FA;
      border: none;
      border-radius: 5px;
      padding: 8px 25px;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 1px;
      cursor: pointer;
    }

    .btn-secondary:hover {
      background-color: #FEF6C3;
      color: #5E53A2;
      font-weight: 500;
    }

    .btn-secondary:active {
      background-color: rgba(94, 83, 162, 1);
      color: #F0F1FA;
      font-weight: 500;
    }

    .btn-secondary:active:hover {
      background-color: rgba(94, 83, 162, 1);
      color: #F0F1FA;
      font-weight: 500;
    }

    .btn-secondary:disabled {
      background-color: rgba(94, 83, 162, 0.5);
    }

    /* Orange button for cancel probably */
    .btn-danger {
      background-color: rgba(255, 160, 92, 0.8);
      color: #201335;
      border: none;
      border-radius: 5px;
      padding: 8px 25px;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 1px;
      cursor: pointer;
    }

    .btn-danger:hover {
      color:#201335;
      background-color: rgba(255, 160, 92, 0.5);
    }

    .btn-danger:active {
      color:#201335;
      background-color: rgba(255, 160, 92, 1);
    }

    .btn-danger:active:hover {
      color:#201335;
      background-color: rgba(255, 160, 92, 1);
    }

    .btn-danger:disabled {
      color:#F0F1FA;
      background-color: rgba(255, 160, 92, 0.5);
    }

    .lg-button {
      width: 180px;
      height: 50px;
    }

    /* Style the close button in offcanvas */
    .btn-close {
      position: relative;
      width: 30px;
      height: 30px;
      background-color: transparent;
      border: none;
    }

    .btn-close:focus {
      background-color: transparent;
      box-shadow: none;
      /* Remove default focus shadow */
    }

    .btn-close:before, .btn-close:after {
      position: absolute;
      top: 50%;
      left: 50%;
      content: ' ';
      height: 16px;
      width: 2px;
    }

    .btn-close:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    .btn-close:after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  /* End of Buttons */

  /* FAQ */
    .accordion-item {
      margin-bottom: 10px; /* Add some space between items */
      background-color:#F0F1FA;
    }

    .accordion-header button {
      box-shadow: 0 4px 8px #2013352e; /* Add shadow to the button */
      border: none; /* Remove the default border */
      background-color: #F0F1FA;
    }

    .accordion-button:focus {
      box-shadow: 0 4px 8px #20133551; /* Add a stronger shadow on focus */
    }

    .accordion-collapse {
      box-shadow: 0 4px 8px #2013352e; /* Add shadow to the collapse content */
    }

    .accordion-button:not(.collapsed) {
      background-color: #20133537; /* Change this to your desired highlight color */
      box-shadow: 0 4px 8px #2013352e; /* Maintain the shadow if needed */
      color:#201335;
    }
  /* End of FAQ */

  /* Resources */
    .tabR {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 16px;
      margin-right: 20px;
      padding: 10px;
      cursor: pointer;
      border-radius: 0px;
      color: #201335;
      border-bottom: 2px solid transparent;
      display: inline-block;
      margin-bottom: 10px;
    }

    .tabR-active {
      background-color: #2013352e;
      color: #5E53A2;
      border-color: #201335;
    }

    /* Apply active style when associated radio input is checked */
    .tabR-one:checked+.tabR,
    .tabR-two:checked+.tabR,
    .tabR-three:checked+.tabR,
    .tabR-four:checked+.tabR,
    .tabR-five:checked+.tabR {
      color: #5E53A2;
      border-color: #201335;
    }

    /* Define CSS classes for tab content */
    .tabR-one-htm,
    .tabR-two-htm,
    .tabR-three-htm,
    .tabR-four-htm,
    .tabR-five-htm {
      /* Initially hide tab content */
      display: none;
    }

    /* Show tab content when associated radio input is checked */
    .tabR-one:checked~.resource-form .tabR-one-htm,
    .tabR-two:checked~.resource-form .tabR-two-htm,
    .tabR-three:checked~.resource-form .tabR-three-htm,
    .tabR-four:checked~.resource-form .tabR-four-htm,
    .tabR-five:checked~.resource-form .tabR-five-htm {
      display: block;
    }

  /* End of Resources */

  /* Login Forms */
    body {
      margin: 0;
    }

    *, :after, :before {
      box-sizing: border-box
    }

    .clearfix:after, .clearfix:before {
      content: '';
      display: table
    }

    .clearfix:after {
      clear: both;
      display: block
    }

    a {
      color: inherit;
      text-decoration: none
    }

    .login-wrap {
      width: 100%;
      height: 100%;
      margin: auto;
      max-width: 525px;
      min-height: 870px;
      position: relative;
      box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
    }

    .login-html {
      width: 100%;
      height: 100%;
      position: absolute;
      padding: 90px 70px 50px 70px;
      background: rgba(240, 241, 250, 0.7);
    }

    .login-html .sign-in-htm,
    .login-html .sign-up-htm {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      transform: rotateY(180deg);
      backface-visibility: hidden;
      transition: all .4s linear;
    }

    .login-html .sign-in,
    .login-html .sign-up,
    .login-form .group .check {
      display: none;
    }

    .login-html .tab,
    .login-form .group .label,
    .login-form .group .button {
      text-transform: uppercase;
      font-weight: bold;
    }

    .login-html .tab {
      font-size: 22px;
      margin-right: 15px;
      padding-bottom: 5px;
      margin: 0 15px 10px 0;
      display: inline-block;
      border-bottom: 2px solid transparent;
    }

    .login-html .sign-in:checked+.tab,
    .login-html .sign-up:checked+.tab {
      color: #5E53A2;
      border-color: #201335;
    }

    .login-form {
      min-height: 345px;
      position: relative;
      perspective: 1000px;
      transform-style: preserve-3d;
    }

    .login-form .group {
      margin-bottom: 15px;
    }

    .login-form .group .label,
    .login-form .group .input,
    .login-form .group .button {
      width: 100%;
      color: #201335;
      display: block;
    }

    .login-form .group .input {
      border: none;
      color: #201335;
      border: none;
      border-radius: 5px;
      padding: 8px 25px;
      font-size: 18px;
      letter-spacing: 1px;
      cursor: pointer;
      background: rgba(32, 19, 53, 0.15);
    }

    .login-form .group .button {
      border: none;
      color: #FEF6C3;
      border: none;
      border-radius: 5px;
      padding: 8px 25px;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 1px;
      cursor: pointer;
    }

    .login-form .group .label {
      color: #201335;
    }

    .login-form .group .button {
      background: rgba(32, 19, 53, 1) !important;
    }

    .login-form .group label .icon {
      width: 15px;
      height: 15px;
      border-radius: 2px;
      position: relative;
      display: inline-block;
      background: rgba(32, 19, 53, 0.1);
    }

    .login-form .group label .icon:before,
    .login-form .group label .icon:after {
      content: '';
      width: 10px;
      height: 2px;
      background: #FEF6C3;
      position: absolute;
      transition: all .2s ease-in-out 0s;
    }

    .login-form .group label .icon:before {
      left: 3px;
      width: 5px;
      bottom: 6px;
      transform: scale(0) rotate(0);
    }

    .login-form .group label .icon:after {
      top: 6px;
      right: 0;
      transform: scale(0) rotate(0);
    }

    .login-form .group .check:checked+label {
      font-weight: bold;
    }

    .login-form .group .check:checked+label .icon {
      background: #5E53A2;
    }


    .login-form .group .check:not(:checked)+label .icon {
      background: #F0F1FA;
    }

    .login-form .group .check:checked+label .icon:before {
      transform: scale(1) rotate(45deg);
    }

    .login-form .group .check:checked+label .icon:after {
      transform: scale(1) rotate(-45deg);
    }

    .login-html .sign-in:checked+.tab+.sign-up+.tab+.login-form .sign-in-htm {
      transform: rotate(0);
    }

    .login-html .sign-up:checked+.tab+.login-form .sign-up-htm {
      transform: rotate(0);
    }

    .hr {
      height: 2px;
      margin: 60px 0 50px 0;
      background: rgba(32, 19, 53, 0.5);
    }

    .foot-lnk {
      text-align: center;
    }
  /* End of Login Forms */
/* End of Bootstrap Modifications */

/* Colors */
  .whiteBackground {
    background-color: #F0F1FA;
  }

  .white {
    color: #F0F1FA;
  }

  .lemonBackground {
    background-color: #FEF6C3;
  }

  .lemon {
    color: #FEF6C3;
  }

  .orangeBackground {
    background-color: #FFA05C;
  }

  .orange {
    color: #FFA05C;
  }

  .violetBackground {
    background-color: #5E53A2;
  }

  .violet {
    color: #5E53A2;
  }

  .purpleBackground {
    background-color: #201335;
  }

  .purple {
    color: #201335;
  }
/* End of Colors */

/* Fonts */
  .yeseva-one {
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
  }

  .karla-light {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

  .karla-regular {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .karla-heavy {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
/* End of Fonts */

#scoreBoard {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 16px;
  z-index: 1000; /* Ensures the scoreboard is on top */
  color: white;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 5px;
}

#dogContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none; /* Allows clicks to pass through */
  z-index: 999; /* Ensures the container is behind the button and scoreboard */
}

.dog {
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url('/images/DogRunning.gif'); /* Replace with your dog image */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  animation: runDog 6s linear;
  cursor: pointer; /* Indicates that the dog can be clicked */
  pointer-events: all; /* Ensure dogs can receive pointer events */
}

@keyframes runDog {
  from { transform: translateX(-100px); }
  to { transform: translateX(calc(100vw + 100px)); }
}

.hidden {
  display: none;
}

#easterEggOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 998;
    display: none;
}
