<div class="hireRequest card my-2 alertCard"> <!--hideRequest MUST BE THE FIRST CLASS-->
    <p class="h5">Hire Request</span> from <%=alert.clientName%></p>
    <p>They are interest in enrolling their dog <span class="karla-heavy"><%=alert.dogName%></span> in the <span class="karla-heavy"><%=alert.programName%> program</span></p>
</div>