<li class="list-group-item d-flex flex-row justify-content-between" id="<%=serviceName.replace(' ', '')%>Item">
	<span><%=serviceName%></span>
	<%- include('button', {action: '', xClasses: 'serviceDelete', xAttributes: 'type=button style=display:none;font-size:10px value=' + serviceName.replace(' ', ''), content: 'X' }) %>
	<input class="serviceField" name="services" type="hidden" value="<%=serviceName%>" required>
	
</li>