<button formaction="<%= action %>" class="btn btn-main mx-2 mb-3 <%= xClasses %>" <%= xAttributes %>>
    <%= content %>
</button>
<%# You can copy the code below for each button %>
<%# include('templates/button', {action:'',xClasses:'',xAttributes:'',content:''}) %>