<!--Template used throughout most pages for buttons-->
<button formaction="<%= action %>" class="btn btn-main <%= xClasses %>" <%= xAttributes %>>
    <%= content %>
</button>
<%# You can copy the code below for each button %>
<%# include('templates/button', {action:'',xClasses:'',xAttributes:'',content:''}) %>