<div class="card" style="width: 18rem;">
  <%- include('defaultingPic', {pic: dog.dogPic, picId: dog._id + 'OldPic'})%>
    <div class="card-body">
      <h5 class="card-title"><%=dog.dogName%></h5>
      <form>
    <%- include('button', {action:'/dog/' + dog._id,xClasses:'seeMore',xAttributes:'',content:'See More'}) %>
  </form>
    </div>
  </div>
