 <!--Sticky footer template for users that have not logged in-->
<footer class="footer mt-auto py-3">
    <div class="container">
        <form method="get">
			<button formaction="/login">Log in</button>
			<button formaction="/signup">Sign up</button>
		</form>
    </div>
</footer>