<!--Template for all back buttons used throughout the app,
    but mostly when navigating between different profiles
    such as between dog profiles and their linked client
    profile.-->
<a id="backLinkButton" class="btn btn-danger" href="<%=page%>" role="button"><%=content%></a>