<div class="sidebar">
    <div class="sidebar_header">
		<i class="fa-solid fa-dragon fa-2x"></i>
		</div>

		<div class="sidebar_menu">
		<a href="#" class="sidebar_item">
			<div class="sidebar_icon">
			<i class="fa-solid fa-house"></i>
			</div>
			<h4>HOME</h4>
		</a>
		<a href="#" class="sidebar_item">
			<div class="sidebar_icon">
			<i class="fa-brands fa-steam"></i>
			</div>
			<h4>STEAM</h4>
		</a>
		<a href="#" class="sidebar_item">
			<div class="sidebar_icon">
			<i class="fa-brands fa-playstation"></i>
			</div>
			<h4>SONY</h4>
		</a>
		<a href="#" class="sidebar_item">
			<div class="sidebar_icon">
			<i class="fa-brands fa-xbox"></i>
			</div>
			<h4>XBOX</h4>
		</a>
		<a href="#" class="sidebar_item">
			<div class="sidebar_icon">
			<i class="fa-brands fa-twitch"></i>
			</div>
			<h4>TWITCH</h4>
		</a>
		</div>
	</div>

	<div class="container">
		<header class="header">
		<button class="btn-toggle"><i class="fa-solid fa-bars"></i></button>
    </header>