<!--Template for easy insertion of information on the payments
    tab of the client profile page.-->
<tbody>
    <tr class="karla-heavy text-center">
        <td><%=record.dogName%></td>
        <td><%=record.programName%></td>
        <td><%=record.credits%></td>
        <td>$ <%=record.outstandingBalance%></td>
    </tr>
</tbody>