<div class="card m-2 smallShadow" style="background-color:#20133541; color:#201335; border-radius:1px;">
    <div class="card-title m-3">
        <a href="/program/<%=program._id%>"><span class="h1 mb-3"><%=program.name%></span></a>
    </div> 
    <div class="card-body mb-4 karla-heavy"><%=program.pricing.priceType%> - <%=program.pricing.price%></div>
</div>