<div class="card m-3">
    <div class="card-title m-3">
        <a href="/program/<%=program._id%>"><span class="h3"><%=program.name%></span></a>
    </div> 
    <div class="card-body"><%=program.pricing.priceType%> - <%=program.pricing.price%></div>
</div>
