<li>
	<div class="row">
		<div class="col">
			<%= trainers.companyName %>
		</div>
		<div class="col">
			<form method="post">
				<button class="btn btn-primary" formaction="/addTrainer/<%= trainers.companyName %>">Hire</button>
			</form>
		</div>
	</div>
</li>